#lista-tarefas li {
  list-style-position: inside;
  font-weight: 600;
}

.completed {
  text-decoration: line-through solid black;
}

.main {
  display: inline-block;
  background-color: whitesmoke;
  width: auto;
  height: auto;
  margin-top: 30px;
  padding-right: 400px;
  padding-left: 400px;
  padding-bottom: 20px;
  border-radius: 50px;
}

body {
  background-color:black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.buttons button {
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 20px;
}

#criar-tarefa {
  background-color: blue;
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
  margin-left: 10px;
}

.insert-area button {
  cursor: pointer;
}

#apaga-tudo {
  background-color:tomato;
  margin-right: 10px;
  cursor: pointer;
}

#remover-finalizados {
  background-color: grey;
  margin-right: 10px;
  cursor: pointer;
}

#salvar-tarefas {
  background-color: green;
  cursor:pointer;
}

#mover-cima {
  background-color: orange;
  cursor: pointer;
}

#mover-baixo {
  background-color: orange;
  margin-right: 10px;
  cursor:pointer;
}

#remover-selecionado {
  background-color: grey;
  margin-right: 10px;
  cursor: pointer;
}
