#funcionamento {
  color: gray;
  font-style: italic; 
}

#criar-tarefa {
  background-color: rgb(50, 89, 173);
  color: white;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
  color: gray;
}
