#title {
  text-align: center;
  color: rgb(19, 68, 48);
  font-size: 100px;
  margin-top: 10px;
}

#funcionamento {
  text-align: center;
  color: rgb(19, 68, 48);
  margin-top: 10px;
}

.selected {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through;
}