body {
    Width: 1366px;
    height: 768px;
    background-color: rgb(253, 251, 251);

  }
  
  #titulo{
    font-family: 'Montserrat', courier;
    font-size:80%;
    margin: 0 auto;
    margin-left: 10%;
    max-width: 450px;
    
  }

  #funcionamento {
    margin:10px 10px 10px;
    font-size:75%;
    margin-left:50px;
  }

  #texto-tarefa {
    margin:10px 10px 10px;
    background-color: rgba(100, 148, 237, 0.11);
    margin-left:50px;
  }

  #criar-tarefa, #lista-tarefas {
    margin:10px 10px 10px;
    margin-left:50px;
  }
  
  .completed {
    text-decoration:line-through solid rgb(0, 0, 0);
  }

  