header {
  font-size: 20px;
  font-weight: 600;
  background-color: red;

}

#criar-tarefa {
  padding: 5px;
}

.uncompleted {
  text-decoration: none;
}

.completed {
  text-decoration: line-through;
}