.selected {
  background-color: rgb(128 , 128 , 128);
}

#lista-tarefas {
  background-color: white;
  text-decoration:none;
}

.completed{
 text-decoration: line-through solid rgb(0, 0, 0);
 background-color: white;

}