h1 {
  color: darkorchid;
  font-size: 50px;
  font-family: URW Chancery L, cursive;
}
.completed {
  text-decoration: line-through;
}
#funcionamento {
  color: limegreen;
}
#salvar-tarefas{
  background-color: yellow;
  padding: 7px;
  border-radius: 10%;
}
#mover-cima{
  background-color: crimson;
  height: 40px;
  border-radius: 50%;
}
#mover-baixo{
  background-color: crimson;
  height: 40px;
  border-radius: 50%;
}
#criar-tarefa {
  background-color: orangered;
  border-radius: 10px;
  padding: 8px;
}
#apaga-tudo {
  background-color: green;
  border-radius: 50px;
  padding: 8px;
}
#remover-finalizados {
  background-color: blue;
  border-radius: 10px;
  padding: 8px;
}

#texto-tarefa {
  padding: 10px;
  border-radius: 10px;
}

.background-color {
  background-color: rgb(158,140,140);
  width: 60px;
  text-align: center;
  border-radius: 20px;
}