@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {

  --defaultColor: rgb(17 , 9 , 88);

  --btnColor: rgb(121 , 44 , 235);

  --postItColor: rgb(255 , 255 , 165);
}

html {
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url('./img/pexels-pixabay-235985.jpg');
  background-position: center;
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

header {
  max-width: 100%;
  max-height: 10%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#texto-tarefa {
  width: 40vw;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
  user-select: none;
}

#texto-tarefa:hover {
  cursor: text;
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 5px;
  user-select: none;
  color: var(--defaultColor);
  text-shadow: 1px 1px 1px white;
}

h4 {
  position: relative;
  bottom: 25px;
  margin: 0;
  padding: 0;
  color: var(--defaultColor);
  text-shadow: 1px 1px 1px white;
}

#container-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.btnStyle {
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  background-color: var(--btnColor);
  box-shadow: 2px 2px 8px black;
  margin-left: 10px;
  border-radius: 5px;
}

.btnStyle:hover {
  color: var(--btnColor);
  background-color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-inline: center;
  width: 100%;
  height: 480px;
}

main p {
  margin-left: 35vw;
  text-decoration: underline;
  user-select: none;
}

#pallete-color {
  display: flex;
  width: 150px;
  margin-top: 20px;
  justify-content: space-evenly;
}

.postItColors {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 0.2s infinite ease-in-out;
}

.postItColors:hover {
  transform: scaleX(1.5) scaleY(1.5);
}

#firstColor {
  background-color: rgb(99 , 210 , 75);
}

#secondColor {
  background-color: rgb(253 , 178 , 190);
}

#thirdColor {
  background-color: rgb(230 , 233 , 85);
}

#fourthColor {
  background-color: rgb(251 , 154 , 14);
}

#containerInput {
  width: 100%;
  height: 80%;
  margin-top: 50px;
}

#lista-tarefas {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 350px;
  margin: 0;
  overflow: auto;
}

.clickItem {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: 13vh;
  list-style: none;
  padding: 5px;
  margin-top: 28px;
  text-align: center;
  box-shadow: 2px 0 6px black;
  background-color: var(--postItColor);
  transform: rotate(20deg);
}

li:hover {
  cursor: url('./img/icons8-pin-24.png'), default;
}

.completed {
  text-decoration: line-through solid black;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

.my-icon-footer {
  width: 70px;
  transition: all 0.2s;
}

.my-icon-footer:hover {
  transform: scaleX(0.7) scaleY(0.7);
  cursor: pointer;
}
